* {
	padding: 0;
	margin: 0;
}
html,
body,
#app {
	height: 100vh;
	overflow: hidden;
}
.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.el-pagination {
	background-color: #ebeef5;
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: flex-end;
}

.cell {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap !important;
}
li {
	list-style: none;
}
